.guanyu, .i{
	width: 100%;
	font-size: 60px;
}
.shu {
	font-size: 2rem;
}
.q img{
	border-radius: 25px;
}
.w li {
	padding-top: 2rem;
	padding-left: 2rem;
}
.guanyu{
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.e{
	font-size: 2rem;
}
.o{
	width: 88%;
}
.i,.u{
	padding-bottom: 1.5rem;
}
.u{
	font-size: 60px;
	padding-top: 1rem;
}